<div class="container-fluid p-3">

  <div class="d-flex justify-content-between">
    <h2>Entities</h2>
    <button type="submit" class="btn btn-outline-primary" (click)="open(entitymodal, null)">
      Add
    </button>
  </div>

  <h6>Manage entities extracted from intents</h6>
  <hr>

  <div class="row">
    <div class="form-group col-1 d-flex align-items-center">
      <h5>Filter</h5>
    </div>

    <div class="form-group col-3">
      <label for="entity_filter_select_type">Type</label>
      <select id="entity_filter_select_type" class="custom-select" [(ngModel)]="filter.type" (ngModelChange)="onFilterChange()">
        <option *ngFor="let t of typeService.list" [ngValue]="t.name">{{t.name}}</option>
      </select>
    </div>

    <div class="form-group col-2">
      <label for="entity_filter_select_locale">Locale</label>
      <select id="entity_filter_select_locale" class="custom-select" [(ngModel)]="filter.locale" (ngModelChange)="onFilterChange()">
        <option *ngFor="let l of app.locales" [ngValue]="l.code">{{l.description}}</option>
      </select>
    </div>

    <div class="form-group col-6">
      <label for="entity_filter_input_value">Value</label>
      <input id="entity_filter_input_value" type="text" class="form-control" placeholder="Enter value" autocomplete="off" [(ngModel)]="filter.value"
        name="value" ngModel required>
    </div>
  </div>
  <hr>

  <div class="container-fluid">
    <div class="d-flex flex-wrap">
      <div class="card bg-light mr-3 mb-3" *ngFor="let e of list" style="width: 14em">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            {{ e.type }}
            <button type="button" class="close" aria-label="Edit" (click)="open(entitymodal, e)">
              <fa name="pencil"></fa>
            </button>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">{{ e.value }}</p>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #entitymodal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ model.id === '' ? 'New Entity' : 'Entity' }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" class="p-4" (ngSubmit)="persist(f)">
      <div class="form-group row">
        <label for="entity_select_type">Type</label>
        <select id="entity_select_type" class="custom-select" [(ngModel)]="model.type" name="type" required>
          <option *ngFor="let t of typeService.list" [ngValue]="t.name">{{t.name}}</option>
        </select>
      </div>
      <div class="form-group row">
        <label for="entity_select_locale">Locale</label>
        <select id="entity_select_locale" class="custom-select" [(ngModel)]="model.locale" name="locale" required>
          <option *ngFor="let l of app.locales" [ngValue]="l.code">{{l.description}}</option>
        </select>
      </div>
      <div class="form-group row">
        <label for="entity_input_value">Value</label>
        <input id="entity_input_value" type="text" class="form-control" placeholder="Enter value" autocomplete="off" [(ngModel)]="model.value"
          name="value" ngModel required>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="d-flex justify-content-between w-100">
      <button type="submit" class="btn btn-outline-danger" (click)="delete()" [disabled]="model.id ===''">Remove</button>
      <button type="submit" class="btn btn-outline-primary" (click)="f.ngSubmit.emit()" [disabled]="!f.form.valid">Save</button>
    </div>
  </div>
</ng-template>
