<div class="container-fluid p-3">

  <h2>Entities</h2>
  <h6>Manage entities extracted from intents</h6>
  <div class="d-flex justify-content-start">
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
      <label ngbButtonLabel class="btn-primary" *ngFor="let t of typeService.list">
        <input ngbButton type="radio" [value]="t.name"> {{t.name}}
      </label>
    </div>

    <button type="button" class="btn btn-outline-primary ml-4" (click)="open(entitytypemodal)">
      Add
    </button>
  </div>
  <hr>

  <ng-template #entitytypemodal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Entities Types</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-entity-type (onload)="loadEntityTypes(types)"></app-entity-type>
    </div>
  </ng-template>

</div>
