<div class="container-fluid p-3">

  <h2>Entities</h2>
  <h6>Manage entities extracted from intents</h6>
  <hr>

  <div class="row">
    <div class="col-12">
      <h5>Filter</h5>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-4">
      <label for="entity_filter_select_type">Type</label>
      <select id="entity_filter_select_type" class="custom-select" [(ngModel)]="filter.type">
        <option *ngFor="let t of typeService.list" [ngValue]="t.name">{{t.name}}</option>
      </select>
    </div>

    <div class="form-group col-2">
      <label for="entity_filter_select_locale">Locale</label>
      <select id="entity_filter_select_locale" class="custom-select" [(ngModel)]="filter.locale">
        <option *ngFor="let l of app.locales" [ngValue]="l.code">{{l.description}}</option>
      </select>
    </div>

    <div class="form-group col-6">
      <label for="entity_filter_input_value">Locale</label>
      <input id="entity_filter_input_value" type="text" class="form-control" placeholder="Enter value" autocomplete="off" [(ngModel)]="filter.value"
        name="value" ngModel required>
    </div>
  </div>
  <hr>

  <div class="container-fluid">
    <div class="d-flex flex-wrap">
      <div class="card bg-light mr-3 mb-3" *ngFor="let e of list" style="width: 14em">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            {{ e.type }}
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">{{ e.value }}</p>
        </div>
      </div>
    </div>
  </div>

</div>
