<div class="p-3">

  <div class="d-flex justify-content-between">
    <h4>Domain</h4>
    <button type="button" class="btn btn-outline-primary" (click)="open(intentmodal, -1)">
      Add Intent
    </button>
  </div>
  <hr>

  <form #f="ngForm" (ngSubmit)="persist(f)">
    <div class="row">
      <div class="form-group col-9">
        <label for="domain_input_name">Name</label>
        <input id="domain_input_name" type="text" class="form-control" placeholder="Enter name" autocomplete="off" [(ngModel)]="model.name"
          name="name" ngModel required>
      </div>
      <div class="form-group col-3">
        <label for="domain_select_locale">Locale</label>
        <select id="domain_select_locale" class="custom-select" [(ngModel)]="model.locale" name="locale" required>
          <option *ngFor="let l of app.locales" [ngValue]="l.code">{{l.description}}</option>
        </select>
      </div>
    </div>

    <div class="container-fluid mt-3 pre-scrollable">
      <div class="d-flex flex-column">
        <div class="card bg-light mb-3 w-100" *ngFor="let i of model.intents; let ind = index">
          <div class="card-header">
            <div class="d-flex justify-content-between">
              {{ i.intent }}
              <button type="button" class="close" aria-label="Edit" (click)="open(intentmodal, ind)">
                <fa name="pencil"></fa>
              </button>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">{{ i.text }}</p>
          </div>
          <div *ngIf="i.entities.length > 0" class="card-footer bg-transparent d-flex">
            <span *ngFor="let e of i.entities" class="badge badge-pill">
              {{ e.value }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between m-3 fixed-bottom">
      <button type="button" class="btn btn-outline-danger" (click)="delete()" [disabled]="model.id ===''">Remove</button>
      <button type="submit" class="btn btn-primary" [disabled]="!f.form.valid">Save</button>
    </div>
  </form>
</div>

<ng-template #intentmodal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ intent.id === '' ? 'New Intent' : 'Intent' }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" class="p-4" (ngSubmit)="saveIntent(f)">
      <div class="form-group row">
        <label for="intent_input_id">Identifier</label>
        <input id="intent_input_id" type="text" class="form-control" placeholder="Enter identifier" autocomplete="off" [(ngModel)]="intent.intent"
          name="intent" (blur)="formatIntent()" ngModel required>
      </div>
      <div class="form-group row">
        <label for="intent_input_text">Text</label>
        <input id="intent_input_text" type="text" class="form-control" placeholder="Enter the text" autocomplete="off" [(ngModel)]="intent.text"
          name="text" ngModel required>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="d-flex justify-content-between w-100">
      <button type="submit" class="btn btn-outline-danger" (click)="deleteIntent()" [disabled]="index === -1">Remove</button>
      <button type="submit" class="btn btn-primary" (click)="f.ngSubmit.emit()" [disabled]="!f.form.valid">Save</button>
    </div>
  </div>
</ng-template>
